<div class="w-full max-w-4xl min-h-screen p-2 pt-12 mx-auto">
  <h2 class="text-4xl text-center dark:text-slate-200">Articles</h2>
  <%= search_form_for @q, class:"mx-auto w-fit flex gap-2 my-2 w-full"  do |f| %>
    <%= f.search_field :title_cont, placeholder: "Search title...", class:"rounded-md w-full"%>
    <%= f.submit "search", class:"p-1 bg-gray-100 rounded-md cursor-pointer hover:bg-gray-300"%>
  <% end %>
  <hr class="my-4">
  <div class="grid grid-cols-1 gap-2 my-4 ">
    <% @articles.each do |article|%>
      <%= link_to article_path(article.id)do%>
        <div class="p-2 border rounded-md hover:bg-gray-50 ">
          <div class="flex justify-between">
            <div class="flex items-end gap-2">
              <p class="text-xl font-bold "><%= article.title%></p>
              <p class="text-xs "><%= article.created_at.in_time_zone("Taipei").strftime("%Y-%m-%d")%></p>
            </div>
            <p class="text-xs ">Views : <%= article.view_count%></p>
          </div>
          <p class="p-1 text-sm bg-gray-200 rounded-md w-fit"><%= article.category%></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>