<div class="my-4">
  <div class="flex justify-between pb-2 border-b-2">
    <p class="text-2xl dark:text-slate-100 ">Products</p>
    <%= link_to "add product", new_product_path, class:" border p-1 rounded-md hover:bg-gray-300 dark:text-slate-100"%>
  </div>
  <div class="p-2 my-4 overflow-hidden bg-gray-200 rounded-md dark:bg-gray-700 dark:text-slate-100">
    <table class="w-full text-center">
      <thead>
        <tr>
          <th></th>
          <th>title</th>
          <th>price</th>
          <th>amount</th>
          <th>status</th>
          <th>edit</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product|%>
          <tr>
            <td><%= image_tag product.images[0], class:"w-[50px] mx-auto"%> </td>
            <td>
              <%= link_to product_path(product.id) do%>
                <%= product.title%>
              <% end %>
            </td>
            <td> <%= product.price%> </td>
            <td> <%= product.amount%> </td>
            <td> <%= product.status%> </td>
            <td><%= link_to "edit", edit_product_path(product.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>