<div class="py-4 ">
  <div class="max-w-4xl mx-auto">
    <p class="text-5xl text-center ">服務項目</p>
    <div class="grid grid-cols-1 gap-2 m-2 overflow-auto lg:overflow-visible">
      <div class="p-2 mx-auto my-2 bg-gray-200 rounded-md ">
        <%= image_tag "https://fakeimg.pl/100x100/", class:" mx-auto  " %>
        <div class="mt-4 ">
          <p class="text-xl font-bold">物聯網技術</p>
          <li class="my-1 text-sm ">工業設備狀態監視</li>
          <li class="my-1 text-sm ">HMI 監視</li>
          <li class="my-1 text-sm ">環境監視和警報通知</li>
          <p class="">幫助客戶了解設備運作狀態，從而提高生產效率。</p>
        </div>
      </div>
      <div class="p-2 mx-auto my-2 bg-gray-200 rounded-md ">
        <%= image_tag "https://fakeimg.pl/100x100/", class:" mx-auto  " %>
        <div class="mt-4 ">
          <p class="text-xl font-bold">智慧能源管理</p>
          <li class="my-1 text-sm ">監測能耗數據</li>
          <li class="my-1 text-sm ">用能因子分析</li>
          <li class="my-1 text-sm ">智慧電表安裝服務</li>
          <p class="">幫助客戶了解能源使用情況，進一步減少浪費、提高效率，實現綠色能源管理。</p>
        </div>
      </div>
      <div class="p-2 mx-auto my-2 bg-gray-200 rounded-md ">
        <%= image_tag "https://fakeimg.pl/100x100/", class:" mx-auto  " %>
        <div class="mt-4 ">
          <p class="text-xl font-bold">自動化供料系統</p>
          <li class="my-1 text-sm ">料倉型門型機械手供料系統</li>
          <li class="my-1 text-sm ">料倉型關節機械手系統</li>
          <p class="">通過自動化技術的應用，實現生產線的高效運作， 同時降低人力成本、安全風險。</p>
        </div>
      </div>
      <div class="p-2 mx-auto my-2 bg-gray-200 rounded-md ">
        <%= image_tag "https://fakeimg.pl/100x100/", class:" mx-auto  " %>
        <div class="mt-4 ">
          <p class="text-xl font-bold">智慧視覺系統</p>
          <li class="my-1 text-sm ">視覺導引機器人整合應用</li>
        </div>
      </div>
      <div class="p-2 mx-auto my-2 bg-gray-200 rounded-md ">
        <%= image_tag "https://fakeimg.pl/100x100/", class:" mx-auto  " %>
        <div class="mt-4 ">
          <p class="text-xl font-bold">PLC、WEB、系統櫃</p>
          <li class="my-1 text-sm ">PLC 程式設計</li>
          <li class="my-1 text-sm ">WEB 客製化網頁</li>
          <li class="my-1 text-sm ">系統櫃設計</li>
        </div>
      </div>
    </div>
    <div class="flex justify-center w-full my-4">
      <button class="w-1/2 p-1 border rounded-md hover:bg-gray-500" data-action="click->scroll-to-contact-us#scrollToContactUs">與我們聯繫</button>
    </div>
  </div>
</div>