<div class="my-4">
  <div class="pb-2 border-b-2">
    <h2 class="text-2xl dark:text-slate-100">Users</h2>
  </div>
  <div class="overflow-auto ">
    <table class="w-full text-center dark:bg-gray-700 dark:text-slate-200 ">
      <thead>
        <tr>
          <th class="p-1">id</th>
          <th class="p-1">eamil</th>
          <th class="p-1">full name</th>
          <th class="p-1">role</th>
          <th class="p-1">provider</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
          <tr class=" whitespace-nowrap">
            <td class="p-1"><%= user.id%></td>
            <td class="p-1"><%= user.email%></td>
            <td class="p-1"><%= user.full_name%></td>
            <td class="p-1"><%= user.role%></td>
            <td class="p-1"><%= user.provider%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>