<div class="w-full bg-black">
  <div class="h-[34rem] pt-24 ">
    <div class="mx-auto ">
      <p class="mx-auto text-center text-7xl mix-blend-difference invert">
        DLCTEK
      </p>
      <p class="text-center text-white">創新、專業、合作、共贏</p>
      <%= link_to "了解更多 >", about_us_path, class:"mx-auto flex w-fit text-blue-500"%>
    </div>
    <div class="flex justify-center">
      <%= image_tag "https://fakeimg.pl/300x300/"%>
    </div>
  </div>
  <%= render "service_item"%>
  <%= render "core_value"%>
  <%= render "cooperation_case"%>
  <%= render "contact_us"%>
</div>
