<div>
  <div class="flex justify-between">
    <h2 class="text-4xl font-bold">Store</h2>
    <% if current_user.present? && current_user.cart.present?%>
      <%= link_to "check my cart", cart_path(id: current_user.cart.id)%>
    <% end %>
  </div>
  <div class="flex">
    <% @products.each do |product|%>
      <div class="p-1 m-4 border rounded-md">
        <%= link_to product_path(product.id) do %>
          <%= image_tag("https://fakeimg.pl/250x200/") %>
          <div class="flex items-center justify-between">
            <p class="text-2xl "><%= product.title%> </p>
            <p class=""> $ <%= product.price%> </p>
          </div>
        <% end %>
        <div class="flex items-center">
          <p class="p-1 border rounded-md">☆</p>
          <%= link_to "add to cart", add_cart_path(id: product.id), data: {turbo_method: :post}, class:"w-full p-1 m-2 text-center border rounded-md"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div>
</div>