<div class="p-2 pt-6 text-white bg-black">
  <div class="max-w-4xl mx-auto ">
    <div class="grid gap-4 grid-row-6 lg:grid-cols-6">
      <%= link_to root_path do%>
        <div class="text-xs border-b-2 lg:border-0 lg:text-center">
          Root Page
        </div>
      <% end %>
      <%= link_to articles_path do %>
        <div class="text-xs border-b-2 lg:border-0 lg:text-center">
          Articles
        </div>
      <% end %>
      <%= link_to products_path do%>
        <div class="text-xs border-b-2 lg:border-0 lg:text-center">
          Store
        </div>
      <% end %>
      <div class="text-xs border-b-2 lg:border-0 lg:text-center">
        <%= link_to "關於川弘", about_us_path%>
      </div>
      <div class="text-xs border-b-2 lg:border-0 lg:text-center">聯繫川弘</div>
      <div class="text-xs border-b-2 lg:border-0 lg:text-center">
        <%= link_to "工作機會", "https://www.104.com.tw/company/1a2x6bmgnx?jobsource=n104bank2", target:"_blank"%>
      </div>
    </div>
    <div class="mt-6">
      <%= image_tag("dlctek_logo_white.png",width:100, class:"mx-auto")%>
    </div>
  </div>
</div>