<!DOCTYPE html>
<html>
  <head>
    <title>DlctekWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/navbar"%>
    <div class="m-4">
      <p id="notice"><%= notice%> </p>
      <p id="alert"><%= alert%> </p>
    </div>
    <main class="container flex px-5 mx-auto bg-gray-300 mt-28">
      <%= yield %>
    </body>
  </html>
